{% extends 'layout.html' %}

{% block title %}
    Create a New Post
{% endblock %}

{% block background %}
    <header class="masthead" style="background-image: url('/static/img/post-bg.jpg')">
{% endblock %}

{% block header %}
    <h1>New Post</h1>
    <span class="subheading">Create a New Post</span>
{% endblock %}

{% block main %}
    <form action="{{ url_for('create') }}" method="post">
        <div class="form-floating">
            <input class="form-control" id="title" name="title" type="text" placeholder="Please enter a title..." />
            <label for="title">Title</label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="subtitle" name="subtitle" type="text" placeholder="Please enter a subtitle..." />
            <label for="subtitle">Subtitle</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="content" name="content" placeholder="Enter post content here..." style="height: 15rem"></textarea>
            <label for="content">Post Content</label>
        </div>

        <br />

        <button class="btn btn-primary text-uppercase mb-5" id="submitButton" type="submit">Send</button>
    </form>
{% endblock %}