{% extends 'layout.html' %}

{% block title %}
    Welcome to FlaskBlog
{% endblock %}

{% block background %}
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
{% endblock %}

{% block header %}
    <h1>FlaskBlog</h1>
    <span class="subheading">A simple blog using Flask Python framework</span>
{% endblock %}

{% block main %}
    {% for post in posts %}
        <div class="post-preview">
            <a href="{{ url_for('post', post_id=post['id']) }}">
                <h2 class="post-title">{{ post['title'] }}</h2>
                <h3 class="post-subtitle">{{ post['title'] }}</h3>
            </a>
            <p class="post-meta">
                <!-- TODO: add user to posts -->
                Posted by <!--  {{ post['user'] }} --> on {{ post['created'] }}
            </p>
            <hr>
            <a href="{{ url_for('edit', id=post['id']) }}">
                <span class="badge bg-info">Edit</span>
            </a>
            <!-- Divider-->
            <hr class="my-4" />
        </div>
    {% endfor %}
{% endblock %}