{% extends 'layout.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block background %}
    <header class="masthead" style="background-image: url('/static/img/post-bg.jpg')">
{% endblock %}

{% block header %}
    <h1>{{ post.title }}</h1>
    <span class="subheading">{{ post.subtitle }}</span>
    <span class="meta">Posted by {{ post.title }} on {{ post.created.strftime('%B %d, %Y') }}</span>
{% endblock %}

{% block main %}
    <div class="container mb-5">
        {{ post.content|safe }}
    </div>
{% endblock %}