{% extends 'layout.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block background %}
    <header class="masthead" style="background-image: url('/static/img/post-bg.jpg')">
{% endblock %}

{% block header %}
    <h1>{{ post.title }}</h1>
    <span class="subheading">{{ post.subtitle }}</span>
    <span class="meta">Posted by {{ post.title }} on {{ post.created.strftime('%B %d, %Y') }}</span>
{% endblock %}

{% block main %}
    {{ post.content|safe }}

    <!-- Divider-->
    <hr class="my-4" />

    <!-- Edit button -->
    <div class="row mb-5">
        <div class="col">
            <a href="{{ url_for('edit', post_id=post.id) }}">
                <span class="btn btn-info text-uppercase">Edit</span>
            </a>
        </div>

        <!-- Delete button -->
        <div class="col-auto">
            <form action="{{ url_for('delete', post_id=post.id) }}" method="post">
                <input type="submit" value="Delete" class="btn btn-danger text-uppercase" onclick="return confirm('Are you sure you want to delete this post?')">
            </form>
        </div>
    </div>
{% endblock %}