{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block background %}
    <header class="masthead" style="background-image: url('/static/img/register-bg.jpeg')">
{% endblock %}

{% block header %}
    <h1>Registration</h1>
    <span class="subheading">Please enter your username and password below</span>
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        <div class="form-floating">
            <input autocomplete="off" class="form-control" id="username" name="username" placeholder="Username" type="text" value="{{ request.form['username'] }}">
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input autocomplete="off" class="form-control" id="password" name="password" placeholder="Password" type="password" value="{{ request.form['password'] }}">
            <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input autocomplete="off" class="form-control" iid="confirmation" name="confirmation" placeholder="Password (again)" type="password" value="{{ request.form['confirmation'] }}">
            <label for="confirmation">Password (again)</label>
        </div>

        <br />

        <button class="btn btn-primary text-uppercase mb-5" id="submitButton" type="submit">Register</button>
    </form>
{% endblock %}