{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block background %}
    <header class="masthead" style="background-image: url('/static/img/settings-bg.jpeg')">
{% endblock %}

{% block header %}
    <h1>Settings</h1>
    <span class="subheading">You can change your password here</span>
{% endblock %}

{% block main %}
    <form action="{{ url_for('settings') }}" method="post">
        <div class="form-floating">
            <input autocomplete="off" class="form-control" id="current_password" name="current_password" placeholder="Current password" type="password" value="{{ request.form['current_password'] }}">
            <label for="current_password">Current password</label>
        </div>
        <div class="form-floating">
            <input autocomplete="off" class="form-control" id="new_password" name="new_password" placeholder="New password" type="password" value="{{ request.form['new_password'] }}">
            <label for="new_password">New password</label>
        </div>
        <div class="form-floating">
            <input autocomplete="off" class="form-control" id="confirmation" name="confirmation" placeholder="New password (again)" type="password" value="{{ request.form['confirmation'] }}">
            <label for="confirmation">New password (again)</label>
        </div>

        <br />

        <button class="btn btn-primary text-uppercase mb-5" id="submitButton" type="submit">Change password</button>
    </form>
{% endblock %}